
<center><h1>JOIN US! NEW PLAYERS ALWAYS WELCOME!</h1></center>
<br>
<div class="row">
	<!--<div class="col-sm-6">
		<h1 class="well">Contact Us</h1>
	</div>-->
        <div class="col-sm-3">
	</div>
	<div class="col-sm-6">
		<h1 class="well">Contact Info</h1>
	</div>
        <div class="col-sm-3">
	</div>
</div>
<div class="row">
	<!--<div class="col-sm-6">
		<center>
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdsEo2VNDlj0aknBEmpkrqH-_2APwAFrM5U_15QLPSdwRIoGQ/viewform?embedded=true" width="100%" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</center>
	</div>-->
        <div class="col-sm-3">
	</div>
	<div class="col-sm-6">
		<h2 style="color:#990000">Email</h2>
		<p><a href="mailto:panicultimate@gmail.com" target="top" class="email">panicultimate@gmail.com</a></p>
			<h2 style="color:#990000">Women's Captains</h2>
			<ul>
				<li>Kelly Pabon</li>
				<li>Elana Howe</li>
				<li>Ariana Ambrosio</li>
			</ul>
			<h2 style="color:#990000">Men's Captains</h2>
			<ul>
				<li>Corey Cox</li>
				<li>Oliver Voorhees</li>
				<li>Cody Brady</li>
			</ul>
			<h2 style="color:#990000">E-Board</h2>
			<ul>
				<li>President: Brett Keeler</li>
				<li>Vice President: Kelly Pabon</li>
				<li>Treasurer: Elana Howe</li>
				<li>Secretary: Ariana Ambrosio</li>
			</ul>
			<h2 style="color:#990000">Follow us on social media</h2>
			<center>
			<a href="https://www.facebook.com/StonyBrookUltimateFrisbee/" target="blank"><img src="icon/facebook-icon.png" class="img-rounded topbar"></img></a>
			<a href="https://twitter.com/SBUultimate" target="blank"><img src="icon/twitter-icon.png" class="img-rounded topbar"></img></a>
			<a href="https://www.instagram.com/stonybrookultimate/" target="blank"><img src="icon/instagram-icon.png" class="topbar"></img></a>
			</center>
                        <h2 style="color:#990000">Ask to join the <a href="https://www.facebook.com/groups/panicultimate/" target="blank">Facebook group</a></h2>
		</div>
        <div class="col-sm-3">
	</div>
</div>