<div class="row">
	<div class="col-sm-2">  
	</div>
	<div class="col-sm-3" style="background-color:#990000">
		<a href="./index.html">
			<img src="../../images/header.jpg"  alt="Stony Brook Ultimate Frisbee" title="Stony Brook Ultimate" width="100%"></img>
		</a>
	</div>
	<div class="col-sm-2">  
	</div>
	<div class="col-sm-3" id="header">
		<h2>Follow Us</h2>
		<center>
			<a href="https://www.facebook.com/StonyBrookUltimateFrisbee/" target="blank"><img src="../../icon/facebook-icon.png" class="img-rounded topbar"></img></a>
			<a href="https://twitter.com/SBUultimate" target="blank"><img src="../../icon/twitter-icon.png" class="img-rounded topbar"></img></a>
			<a href="https://www.instagram.com/stonybrookultimate/" target="blank"><img src="../../icon/instagram-icon.png" class="topbar"></img></a>
		</center>
	</div>
	<div class="col-sm-2">  
	</div>
</div>